.comic-review {
  padding-bottom: 100px;

  .comic-review-header {
    margin-top: 35px;
  }

  .comic-teaser {
    margin-top: 15px;
    .img-container {
      width: 100px;
    }
  }

  .review-text {
    margin-top: 15px;
    max-width: 650px;
    word-wrap: break-word;
  }
}
