.comic-reviews-comic {
  display: flex;

  .img-container {
    width: 70px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .info {
    padding-left: 10px;

    h3 {
      margin: 7px 0;
    }
  }
}
