.library-category {
  height: calc(100vh - 52px);
  overflow-y: auto;
  padding-left: 50px;
  width: 100%;

  .header {
    margin: 25px 0 26px 0;
  }

  .library-category-content {
    max-width: 930px;
    padding-right: 30px;
  }

  .items-container {
    display: grid;
    column-gap: 20px;
    row-gap: 65px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .dropdown-card {
    position: absolute;
    left: -125px;
    width: 150px;
  }

  .dropdown-card-content {
    padding: 10px 0;

    &:last-child {
      padding: 0;
    }
  }

  ul {
    width: 100%;
  }

  @media (max-width: 840px) {
    .items-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 600px) {
    .items-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}
