.comic {
  .comic-details {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    position: relative;
    color: #fff;

    .wrapper {
      display: grid;
      grid-template-columns: 27% 1fr;
      column-gap: 60px;
      padding-top: 50px;
      padding-bottom: 200px;
    }

    h2 {
      font-size: 29px;
      font-family: 'Roboto Condensed', sans-serif;
      color: #fff;
    }

    h3 {
      font-size: 20px;
      letter-spacing: 0.7px;
    }

    .comic-info {
      color: #d2d2d2;
    }

    .comic-info h3,
    .comic-info-description {
      margin: 18px 0 0 0;
    }

    .comic-info-row {
      display: flex;
      justify-content: space-between;
      max-width: 485px;
    }

    .comic-info-description {
      max-width: 430px;
    }

    @media (max-width: 840px) {
      background-color: #000;

      .wrapper,
      .comic-info-row {
        display: flex;
        flex-direction: column;
      }

      .comic-info h2 {
        margin-top: 18px;
      }
    }
  }

  .main-img-container {
    max-width: 350px;
  }

  .main-img-container img {
    width: 100%;
  }

  .comic-details-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(13px);
    transform: scale(1.1);
    z-index: -1;
  }
}
