.profile {
  .loading {
    margin-top: 30px;
    text-align: center;
    height: 50px;
  }

  .wrapper {
    max-width: 1040px;
  }

  header {
    min-height: 500px;
  }

  .header-details {
    position: relative;
    padding: 12px 28px 0 28px;

    h2 {
      font-size: 22px;
    }
  }

  .joined {
    margin-top: 13px;
    display: flex;
    align-items: center;

    svg {
      margin-left: -3px;
    }

    span {
      margin-left: 3px;
    }
  }

  .statistics {
    margin-top: 13px;

    span {
      margin-right: 15px;
    }
  }

  .MuiDivider-root {
    margin: 19px 0;
  }

  .about {
    max-width: 550px;
    padding: 19px 0 4px 0;
    margin-top: 30px;
    margin-bottom: 100px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    p {
      margin-bottom: 15px;
    }
  }

  .edit-profile-buttons {
    button {
      position: absolute;
      right: 28px;
      top: -53px;
      border: 1px solid #5c5c5c;
      border-radius: 20px;
      height: 38px;

      @media (max-width: 600px) {
        top: -33px;
      }
    }

    .edit-profile-link {
      display: none;
    }

    @media (max-width: 600px) {
      .dialog-btn {
        display: none;
      }
      .edit-profile-link {
        display: block;
      }
    }
  }

  .edit-profile-btn:hover {
    background-color: #fff;
  }
}
