.edit-profile-dialog {
  .MuiDialogContent-root:first-child {
    padding-top: 10px;
    overflow: hidden;
  }

  .MuiDialog-paperWidthSm {
    max-width: 100%;
  }

  .close-container {
    padding: 15px 0 8px 12px;
  }

  .dialog-content {
    width: 650px;
    padding: 0;
  }
}
